.header {
  width: 100%;
  min-height: $headerHeight;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 25px 0 25px;
  opacity: 1;
  z-index: 50;
  pointer-events: none;

  &__leftWrapper {
    width: 20vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: $headerHeight;

    &__mainLogo{
      font-family: $gotham;
      color: $titleColor;
      text-transform: uppercase;
      font-size: 0.78rem;
      letter-spacing: 0.18rem;
      font-weight: 400;
      min-width: 100px;
      pointer-events: all;
      padding-top: 13px;

      &__image{
      }
    }
  }

  &__centerWrapper{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 50px 0 50px;
    height: $headerHeight;
    max-width: 60vw;
  }

  &__rightWrapper{
    width: 20vw;
    height: $headerHeight;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    z-index: 100;

    nav {

      ul {

        li {
          padding-top: 10px;

          a {
            @include navLink;
            display: inline;
            padding: 10px;
            pointer-events: all;

            &:hover{
              color: #0bcb86;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px){

  .header{
    height: 100vh;
    padding: 0;

    &__centerWrapper{
      width: 100vw;
      max-width: 100vw;
      padding: 15px 10px 0 10px;
    }

    &__leftWrapper{
      position: fixed;
      bottom: 0;
      left: 0;
      margin-left: 10px;
      margin-bottom: 10px
    }

    &__rightWrapper{
      position: fixed;
      bottom: 0;
      right: 0;
      width: 50vw;
      padding-right: 10px;
    }
  }

}

@media screen and (max-width: 480px){

}