html body main .container--twoColumns.projectPage{
  max-width: 1400px;
  margin: 0 auto;
}

.projectNav{
  position: fixed;
  top: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100px;
  max-width: 100%;
  overflow-y: hidden;
  z-index: 10;

  &--left{
    left: 0;

    & .projectNav__image{
      left: 0;
    }
  }

  &--right{
    right: 0;

    & .projectNav__image{
      right: 0;
    }
  }

  &__image{
    position: fixed;
    top: 0;
    height: 100vh;
    max-height: 100vh;
    width: 0;
    max-width: 100%;
    background-image: url("http://localhost:1337/uploads/meduse_8832bca504.png");
    background-size: cover;
    background-position: center;
    transition-duration: 300ms;
  }

  &:hover .projectNav__image{
    width: 100px;
  }
}

.projectPage{
  //min-height: calc(100vh - $headerHeight);
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  hr{
    margin: 0.5rem 0 0.5rem 0;
  }

  &__backButton{
    padding: 25px 15px 25px 0;
    line-height: $homeLogoHeight;
  }

  &__info{
    width: 40%;
    padding-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;

    &__title{
      width: 100%;
      line-height: 1;
      margin-bottom: 0.2rem;
    }

    &__medium{
      display: block;
      text-transform: uppercase;
      margin-bottom: 0.8rem;
    }

    &__date{
      font-weight: 600;
    }

    &__techsWrapper{
      display: flex;
      justify-content: left;
      gap: 10px;

      &__techWrapper{
        position: relative;

        &__techImage{
          max-height: 28px;
          width: auto;
        }

        &__techTooltip{
          background-color: #3f3f3f;
          border: 1px solid #343434;
          color: #fff;
          border-radius: 6px;
          position: absolute;
          z-index: 1;
          padding: 0.25rem 0.5rem;
          margin: 0.4rem 0.4rem 0 0;
          font-size: 0.75rem;
          font-weight: 300;
          white-space: nowrap;
          visibility: hidden;
          user-select: none;
          user-focus: none;
          transition-duration: 200ms;
          transform: translateY(50%);
          opacity: 0;
          transition-timing-function: ease;
        }

        &:hover .projectPage__info__techsWrapper__techWrapper__techTooltip{
          opacity: 0.9;
          visibility: visible;
          transform: translateY(0);
        }
      }

    }

    &__buttonsWrapper{
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }

    &__section{
      margin-top: 1rem;
      padding-bottom: 0.8rem;

      &__title{
        font-size: 1rem;
        font-weight: 500;
        display: block;
        margin-bottom: 0.5rem;
      }

      &__categories{
        font-weight: 500;
        font-size: 0.8rem;

        a{
          color: $textColor;

          &:hover{
            color: $mainAccentColor;
          }
        }

      }
    }

    .projectButton{
      align-self: flex-end;
    }
  }

  &__mediaWrapper{
    height: 100vh;
    position: relative;
    align-self: flex-start;
  }

  &__media{
    height: 100vh;
    max-height: 100vh;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {

  html body main .container--twoColumns.projectPage{

  }

}

@media screen and (max-width: 992px) {

  html body main .container--twoColumns.projectPage{
    width: 100%;
    max-width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    margin: 0;
  }

}

@media screen and (max-width: 768px) {
  html body main .container--twoColumns.projectPage{
    padding: 0 40px;
    flex-direction: column;
  }

  .projectPage{

    &__info,
    &__mediaWrapper{
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    &__info{
      order: 2;
      padding-right: 0;
      margin-top: 3rem;
    }

    &__mediaWrapper{
      order: 1;
      max-height: 100vh;
    }

    &__media{
      width: auto;
      height: auto;
      padding-left: 0;

      &__link &__link__media{
        max-height: 100vh !important;
      }
    }
  }

}