html body main .container--twoColumns.projectPage{
  max-width: 1400px;
  margin: 0 auto;
}

.projectPage{
  min-height: 100vh;
  position: relative;

  &__backButton{
    padding: 0 15px 1rem 0;
    line-height: $homeLogoHeight;
  }
}

.mediaLayout{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  hr{
    margin: 0.5rem 0 0.5rem 0;
  }

  &__mediaWrapper{
    height: 100vh;
    position: relative;
    align-self: flex-start;
  }

  &__media{
    height: 100vh;
    max-height: 100vh;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.videoLayout{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  &__backgroundVideo{
    position: absolute;
    z-index: 0;
    object-fit: cover;
    width:100vw;
    height:100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .projectPage__backButton{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    padding: 1rem 1.5rem;

    & > div{
      padding: 0.25rem 0.5rem;
      border-radius: $borderRadius;
      background-color: $white;
      color: $darkerGrey;
      font-size: 1.5rem;

      &:hover{
        background-color: $darkerGrey;
        color: $backgroundSecondaryColor;
      }
    }
  }

  .projectPage__info{
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: $borderRadius;
    margin-right: 5vw;
    margin-bottom: 5vw;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.4rem;
    border: 1px solid $white;
    overflow: hidden;
    transition: background-color 200ms ease-in-out;

    &.expanded, &:hover{
      background-color: rgba(255, 255, 255, 0.98);
    }
  }
}

.projectPage__info{
  width: 40%;
  height: max-content;
  padding-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;

  &__collapsible{
  }

  &.collapsible.collapsed{
    cursor: pointer;
  }

  &.collapsible.expanded{
    cursor: default;
  }

  &.collapsible.collapsed &__collapsible{
    height: 0;
    overflow: hidden;
  }

  &__closeButton {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    transition: all 200ms ease-in-out;
    font-size: 1.5rem;
  }

  &.collapsible.collapsed &__closeButton{
    opacity: 0;
    pointer-events: none;
  }

  &.collapsible.expanded &__header{
    cursor: pointer;

    &:hover{
    }
  }

  &__title{
    width: 100%;
    line-height: 1;
    margin-bottom: 0.2rem;
  }

  &__medium{
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
  }

  &__date{
    font-weight: 600;
  }

  &__techsWrapper{
    display: flex;
    justify-content: left;
    gap: 10px;

    &__techWrapper{
      position: relative;

      &__techImage{
        max-height: 23px;
        width: auto;
        user-select: none;
      }

      &__techTooltip{
        background-color: #3f3f3f;
        border: 1px solid #343434;
        color: #fff;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        padding: 0.25rem 0.5rem;
        margin: 0.4rem 0.4rem 0 0;
        font-size: 0.75rem;
        font-weight: 300;
        white-space: nowrap;
        visibility: hidden;
        user-select: none;
        user-focus: none;
        transition-duration: 200ms;
        transform: translateY(50%);
        opacity: 0;
        transition-timing-function: ease;
      }

      &:hover .projectPage__info__techsWrapper__techWrapper__techTooltip{
        opacity: 0.9;
        visibility: visible;
        transform: translateY(0);
      }
    }

  }

  &__buttonsWrapper{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .projectPage__info__section{
    margin-top: 1rem;
    padding-bottom: 0.8rem;

    &__title{
      font-size: 1rem;
      font-weight: 500;
      display: block;
      margin-bottom: 0.5rem;
    }

    &__credits{
      margin-top: 1rem;
    }

    &__categories{
      font-weight: 500;
      font-size: 0.8rem;
      color: $projectCategoriesColor;

      a{

        &:hover{
          color: $mainAccentColor;
        }
      }

    }
  }

  .projectButton{
    align-self: flex-end;
  }
}

@media screen and (max-width: 1200px) {

  html body main .container--twoColumns.projectPage{

  }

}

@media screen and (max-width: 992px) {

  html body main .container--twoColumns.projectPage{
    width: 100%;
    max-width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    margin: 0;
  }

}

@media screen and (max-width: 768px) {

  .mediaLayout{
    padding: 20px 20px 0 20px;
    flex-direction: column;

    .projectPage__info,
    &__mediaWrapper{
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    .projectPage__info{
      order: 2;
      padding: 0;
      margin: 1.5rem 0 0 0;
    }

    &__mediaWrapper{
      order: 1;
      max-height: 100vh;
    }

    &__media{
      width: auto;
      height: auto;
      padding-left: 0;
      padding-right: 0;

      &__link &__link__media{
        max-height: 100vh !important;
      }
    }
  }

  .videoLayout{
    justify-content: center;

    .projectPage__info{
      width: 90%;
      margin: 0 0 1rem 0;
      padding: 1rem;

      &__techsWrapper{

        &__techWrapper{

          &__techTooltip{
            transform: translateY(-50%);
            top: -180%;
          }
        }
      }
    }
  }

}