.projectButton{
  box-sizing: border-box;
  display: inline-block;
  margin: 1rem 0;
  padding: 0.9rem 1.4rem;
  font-size: 0.9rem;
  user-select: none;

  &.primary{
    @include borderButton;
  }

  &.primary:hover{
    background-position: 0;
    color: $white;
  }

  &.secondary{
    color: $darkGrey;
    border-radius: $borderRadius;
  }

  &.secondary:hover{
    background-color: $mainAccentColorFaded;
  }
}