
.portfolio__filters{

  &__menu{
    list-style: none;
    display: flex;
    align-items: center;
    height: 50px;
    font-weight: 300;
    padding: 0.5rem 0;

    &__label{
      margin-left: 1rem;
      cursor: pointer;
      padding: 0.3rem 0;
      user-select: none;
      white-space: nowrap;

      &:after{
        content: "•";
        opacity: 0;
        width: 0.5rem;
        display: inline-block;
        color: $mainAccentColor;
        transition-duration: 300ms;
        transition-timing-function: ease;
      }

      &.clear{
        color: #c50a0a;
        font-weight: 300;
      }

      &.active:after{
        opacity: 1;
      }
    }
  }

  &__accordion{
    height: auto;

    &__tags{
      padding: 0;
      margin: 0;
      gap: 0;
      height: 0;
      overflow: hidden;
      box-sizing: border-box;
      transition-duration: 600ms;
      opacity: 0;
      pointer-events: none;

      &.open{
        height: 100px;
        padding: 0.5rem 0;
        margin-bottom: 0.5rem;
        pointer-events: auto;
        opacity: 1;
      }

      &__tag{
        padding: 0.25rem 0.5rem;
        margin: 0.4rem 0.4rem 0 0;
        font-size: 0.75rem;
        font-weight: 300;
        color: $dark;
        border: 1px solid #a8a8a8;
        background-color: $white;
        border-radius: 5px;
        max-width: fit-content;
        user-select: none;
        display: inline-flex;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;

        &__logo{
          height: 1rem;
          display: inline;
          margin-right: 0.3rem;
        }

        &.selected{
          border: 1px solid $mainAccentColor;
          background-color: $mainAccentColor;
          color: $white;
        }
      }

      &.open .portfolio__filters__accordion__tags__tag{
      }
    }
  }
}
