// COLORS
$black: #000000;
$darkerGrey: #0f1014;
$darkGrey: #1b1b1b;
$mediumGrey: #505050;
$platinum: #ebe8e5;
$white: #FDFDFC;
$darkBlue: #1E3050;

// COLOR USES
$mainAccentColor: #AD283F;
$mainBackgroundColor: $white;
$backgroundSecondaryColor: #DDDDDD;
$textColor: $mediumGrey;
$titleColor: $darkGrey;
$navColor: $darkGrey;

// SIZES
$headerHeight: 80px;
$homeLogoHeight: 50px;
$cardWidth: 38vh;
$cardHeight: 55vh;
$borderRadius: 3px;

// FONTS
$noto: 'Noto Sans', sans-serif;
$inter: 'Inter', sans-serif;
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url("/fonts/Gotham-Medium.otf") format("opentype");

}
$gotham: 'Gotham', sans-serif;

// FONT USES
$mainBodyFont:  $noto;
$mainTitleFont: $inter;
$linkFont: $gotham;

// MIXINS

@mixin titles{
  font-family: $mainTitleFont;
  color: $titleColor;
}

@mixin container($flex: flex-start){
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin textWrapper{
  width: 50%;
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 90px;
}

@mixin menuIconLine{
  display: block;
  background-color: $titleColor;
  width: 2em;
  height: 3px;
  position: absolute;
  left: 0;
  border-radius: 25px;
  transition: all 0.4s;
}

@mixin navLink{
  color: $navColor;
  font-size: 0.85rem;
  line-height: 60px;
  letter-spacing: 0.1rem;
  font-weight: 400;
}