.youtubeEmbedContainer{
  position: relative;
  width: 100%;
  height: 0;

  .youtubeEmbed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.projectPage__media__link{
  width: 100%;
  overflow: hidden;

  .projectPage__media__link__media{
    max-height: calc(90vh - $headerHeight);
    max-width: 100%;
    height: auto;
    width: auto;
  }
}